body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff; /* Changed background color to darker shade */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }
  
  
  nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    color: #000000; /* Changed navigation link color to white */
    font-weight: bold; /* Added bold font-weight for better visibility */
  }
  
  nav a:hover {
    background-color: #ff6f00; /* Darkened background color on hover */
    border-radius: 5px;
  }
  nav a:nth-last-child(1) {
    background-color: red; /* Sets background color to red */
    border-radius: 5px; /* Adds border radius of 5px */
    padding: 10px 15px; /* Adds padding to create some space around the text */
    color: white; /* Sets text color to white */
  }
  
  nav a:nth-last-child(1):hover {
    background-color: rgba(255, 119, 0, 0.812); /* Darkens the background color on hover */
  }
  
  
  main {
    padding: 20px;

  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-left: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
  }
  h2:first-child {
    margin-left: 700px;
    font-size: 2.4em;
  }
  
  
  article {
    display: flex;
  }
  
  .content {
    white-space: wrap;
    width: 800px;
    margin-left: 80px;
  }
  
  .content h3 {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;

  }
  
  .content p {
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
  }
  
  
  .video-container {
    margin-left: 20px; /* Adjust as needed for spacing between content and video */
  }
  
  .video-container img {
    display: block; /* Ensures the image is displayed as a block element */
    margin: auto ;
    width: 70%; /* Adjust the width as needed */
    height: auto; /* Allows the image to scale proportionally */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 20px;
  }
  
  
  .video-container a {
    display: block; /* Ensures the link is displayed as a block element */
    text-align: center; /* Centers the link horizontally */
    margin-top: 10px; /* Adjust as needed for spacing between image and link */

  }
  
  footer {
    background-color: #333; /* Changed footer background color to match header */
    padding: 20px;
    text-align: center;
    color: #fff; /* Changed footer text color to white */
  }
  .video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .video-wrapper {
    display: flex;
  }
  
  .video {
    margin-right: 50px;
    text-align: center;
  }
  
  .video:last-child {
    margin-right: 0;
  }
  
  .video img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .video p {
    margin-top: 10px;
    font-weight: bold;
  }
  








  section {
    margin-top: 100px;
    display: flex;
    margin-bottom: 40px;
  }
  
  .content2 {
    padding: 50px;
    
  }
  
  .content2 h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
  }
  
  .content2 p {
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    margin-left: 50px;
  }
  
  .video-container2 {
    margin-right: 10px;
    position: relative;
  }
  
  .video-container2 img {
    display: block; /* Ensures the image is displayed as a block element */
    width: 700px; /* Adjust the width as needed */
    height: auto; /* Allows the image to scale proportionally */
    margin-left: 70px;
    border-radius: 10px;
  }
