



/* Reset styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', sans-serif;
}

/* Header styles */
header {
    background-color: transparent;
    padding: 20px 0;
    font-family: 'Abhaya Libre', sans-serif;
}
/* Container styles */
.container {
    height: 533px;
    margin: 20px auto; 
    width: 80%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.container1 {
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInContainers 1s ease forwards; 
}

/* Navigation styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo-text {
    font-size: 50px;
    margin-left: 20px;
    font-style: bold;
}

nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 10px;
    font-style: bold;
}

nav ul li {
    display: inline;
    margin:  5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #0575f6;
    color: #fff;
}

/* Login/Signup button styles */
.fade-out-animation {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.login-signup a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px; 
    transition: all 0.3s ease;
}

.login-signup a:hover {
    background-color: #0575f6;
    color: #fff;
    transform: scale(1.1);
}

/* Transcendental Meditation section styles */
.tm-section {
    padding: 180px 30px;
    background-color: #0077ffd7;
    border-radius: 20px;
    text-align: left;
    position: relative;
    z-index: 1;
    animation: slideInTMSection 1s ease forwards;
}

.tm-section h1 {
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    font-size: 36px;
    animation: typing 9s, blink-caret 1s;
    text-align: left;
}

/* Typewriter animation */    
@keyframes typing {
    0% {
        width: 0;
    }
    36% {
        width: 36%;
    }   
}

/* Blinking cursor animation */
@keyframes blink-caret {
    0%{
        border-color: transparent;
    }
    100%{
        border-color: #000000;
    }
}

/* Taskbar styles */
.taskbar {
    position: fixed;
    top: 34%;
    right: 50px;
    background-color: transparent;
    border-radius: 20px;
    animation: slideInTaskbar 1s ease forwards;
    color: white;
}

.taskbar img {
    width: 35px;
    height: auto;
}

.taskbar ul {
    padding: 20px;
    margin: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    justify-content: right;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    color: white;
}

/* Circle animations */
.circle-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #05f6e2;
    clip-path: circle(50% at 0 50%);
    z-index: -3;
    animation: dropCircle1 1s ease forwards;
}

.circle-left2 {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #82f605;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle2 1s ease forwards;
}

.circle-left3 {
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #f68205;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle3 1s ease forwards;
}

.circle-left4 {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #f60505;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle4 1s ease forwards;
}

/* Animation keyframes */
@keyframes slideInContainers {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInTMSection {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInTaskbar {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}
.animate-circle {
    animation: dropCircle1 3s ease forwards;
}

@keyframes dropCircle1 {
    0% {
        transform: translateX(-100vh);
    }
    50% {
        transform: translateX(0);
    }
}

@keyframes dropCircle2 {
    0% {
        transform: translateX(-80vh);
    }
    50% {
        transform: translateX(0);
    }
}

@keyframes dropCircle3 {
    0% {
        transform: translateX(-60vh);
    }
    50% {
        transform: translateX(0);
    }

}

@keyframes dropCircle4 {
    0% {
        transform: translateX(-40vh);
    }
    50% {
        transform: translateX(0);
    }

}

/* Taskbar icon hover animation */
@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.taskbar img:hover {
    transform: scale(1.5);
    animation: enlarge 0.5s ease;
}
/* Calm section styles */
.calm-section {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    padding: 50px;
    margin-left: 200px;
}

.calm-text {
    flex: 1;
    padding-right: 20px;
    text-align: center; /* Center the text */
}

.calm-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight:bolder; /* Make the text bold */
    color: #0abcbc;
}

.calm-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.calm-text button {
    padding: 10px 20px;
    background-color: #048db3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calm-text button:hover {
    background-color: #0356b5;
    scroll-behavior: smooth;
}

.calm-image img {
    max-width: 100%;
    height: auto;
}


.circle-left,
.circle-left2,
.circle-left3,
.circle-left4 {
    transition: opacity 1s ease; /* Add transition for opacity */
}

.circle-hidden {
    opacity: 0; /* Initially set opacity to 0 */
    animation: circlee 2s ease;
}
.video-container {
    border-radius: 10px; /* Apply border-radius to the container */
    overflow: hidden; /* Hide overflow content to ensure rounded corners are visible */
    width: 50%; /* Set width of the container */
    max-height: 600px; /* Set max-height for the video */
    margin-left: 10px;
    margin-top: 100px;
}

.video-container video {
    max-width: 70%; /* Ensure the video doesn't exceed its container's width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    width: 70%; /* Set width of the video to fill its container */
    display: block; /* Make the video a block element */
}
.category-container {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.category {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}

.category img {
    width: 30%;
    height: 600px;
    margin-right: 200px;
    margin-left: 200px;
}


.category-container2 {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.category2 {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}

.category2 img {
    width: 30%;
    height: 600px;
    margin-right: 200px;
    margin-left: 200px;
}
.description {
    max-width: 300px; /* Adjust based on your content */
    text-align: center; /* Align text in the center */
    margin: 0 auto; /* Center the description horizontally */
    margin-top: 20px; /* Add top margin */
    margin-left: 10px;
    
}
.description2{
    max-width: 300px; /* Adjust based on your content */
    text-align: center; /* Align text in the center */
    margin: 0 auto; /* Center the description horizontally */
    margin-top: 20px; /* Add top margin */
    margin-right: 10px;

}

.category h3,
.category2 h3 {
    font-size: 30px; /* Set font size for headings */
    font-weight: bold; /* Make headings bold */
    margin-bottom: 10px; /* Add bottom margin to headings */
    font-family: 'Abhaya Libre', sans-serif; /* Apply a custom font */
}

.category p,
.category2 p {
    margin-top: 10px; /* Add top margin to paragraphs */
    font-size: 15px; /* Set font size for paragraphs */
    line-height: 1.5; /* Set line height for better readability */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.description img {
    width: 1800px;
    height: 1300px;
    position: absolute;
    top: 1300px;
    left: 0;
    border-radius: 50%; /* Make the image oval */
    z-index: -1;
    margin-left: -30%;
    animation: none; /* Initially, no animation */
}

.description img.animate {
    animation: ovalAnimation 2s ease forwards; /* Apply the animation */
}

/* Define the animation keyframes */
@keyframes ovalAnimation {
    0% {
        transform: scale(0.5); /* Start the animation from 50% of original size */
    }
    100% {
        transform: scale(5); /* End the animation at the original size */
    }
}
