/* Reset styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', sans-serif;
}

/* Header styles */
header {
    background-color: transparent;
    padding: 20px 0;
    font-family: 'Abhaya Libre', sans-serif;
}
/* Container styles */
.container {
    height: 533px;
    margin: 20px auto; 
    width: 80%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.container1 {
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInContainers 1s ease forwards; 
}

/* Navigation styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo-text {
    font-size: 50px;
    margin-left: 20px;
    font-style: bold;
}

nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 10px;
    font-style: bold;
}

nav ul li {
    display: inline;
    margin:  5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #0575f6;
    color: #fff;
}

/* Login/Signup button styles */
.fade-out-animation {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.login-signup a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px; 
    transition: all 0.3s ease;
}

.login-signup a:hover {
    background-color: #0575f6;
    color: #fff;
    transform: scale(1.1);
}

/* Transcendental Meditation section styles */
.tm-section {
    padding: 180px 30px;
    background-color: #0077ffd7;
    border-radius: 20px;
    text-align: left;
    position: relative;
    z-index: 1;
    animation: slideInTMSection 1s ease forwards;
}

.tm-section h1 {
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    font-size: 36px;
    animation: typing 9s, blink-caret 1s;
    text-align: left;
}

/* Typewriter animation */    
@keyframes typing {
    0% {
        width: 0;
    }
    36% {
        width: 36%;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #000000;
    }
}

/* Taskbar styles */
.taskbar {
    position: fixed;
    top: 34%;
    right: 50px;
    background-color: transparent;
    border-radius: 20px;
    animation: slideInTaskbar 1s ease forwards;
    color: white;
}

.taskbar img {
    width: 35px;
    height: auto;
}

.taskbar ul {
    padding: 20px;
    margin: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    justify-content: right;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    color: white;
}

/* Circle animations */
.circle-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #05f6e2;
    clip-path: circle(50% at 0 50%);
    z-index: -3;
    animation: dropCircle1 1s ease forwards;
}

.circle-left2 {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #82f605;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle2 1s ease forwards;
}

.circle-left3 {
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #f68205;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle3 1s ease forwards;
}

.circle-left4 {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #f60505;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
    animation: dropCircle4 1s ease forwards;
}

/* Animation keyframes */
@keyframes slideInContainers {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInTMSection {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInTaskbar {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropCircle1 {
    0% {
        transform: translateX(-100vh);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropCircle2 {
    0% {
        transform: translateX(-80vh);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropCircle3 {
    0% {
        transform: translateX(-60vh);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropCircle4 {
    0% {
        transform: translateX(-40vh);
    }
    100% {
        transform: translateX(0);
    }
}

/* Taskbar icon hover animation */
@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.taskbar img:hover {
    transform: scale(1.5);
    animation: enlarge 0.5s ease;
}