<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Us</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <nav>
        <div class="logo"><img src="/images/1_main_being_logo.png" alt="logo" height="50px"></div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 style="text-align: center;">Our mission is to support everyone on every step of their mental health journey.
        </h1>
        <p>We're a mental health brand with the #1 app for sleep, meditation, and relaxation*, with over 150 million
            downloads and 2.5M 5-star reviews**. We’re here to help you sleep more, stress less and live mindfully.

            We’re honored to be Apple's 2017 App of the Year, Apple BEST OF 2018 award winner, one of Fast Company’s
            2020 Most Innovative Companies and Time100’s 2022 Most Influential Companies.</p>
        <div class="image-container">
            <div class="image-info">
                <img src="/images/1_about.png" alt="photo">
                <h3>Meditate</h3>
                <p>Learn the life-changing skill of meditation</p>
            </div>
            <div class="image-info">
                <img src="/images/2_about.png" alt="photo">
                <h3>Sleep</h3>
                <p>Get more restful sleep and wake up feeling refreshed</p>
            </div>
            <div class="image-info">
                <img src="/images/3_about.png" alt="photo">
                <h3>Music</h3>
                <p>Exclusive music to help you focus, relax, sleep</p>
            </div>
            <div class="image-info">
                <img src="/images/4_about.png" alt="photo">
                <h3>Move</h3>
                <p>Video lessons on mindful movement and gentle stretching</p>
            </div>
            <div class="image-info">
                <img src="/images/5_about.png" alt="photo">
                <h3>For Work</h3>
                <p>Sessions to support overwhelm, burnout and focus at work</p>
            </div>
            <div class="image-info">
                <img src="/images/6_about.png" alt="photo">
                <h3>Soundscapes</h3>
                <p>Soundscapes to help you relax, sleep, work or study</p>
            </div>
        </div>
    </div>

    <!-- meet our team -->
    <h1 style="text-align: center;">MEET OUR TEAM</h1>
    <div class="team-container">
        <div class="team-info">
            <img src="/images/3_varun.jpg" alt="Varun Pandit">
            <h3>Varun Pandit</h3>
        </div>
        <div class="team-info">
            <img src="/images/5_jigyasu.jpg" alt="Jigyasu Tiwari">
            <h3>Jigyasu Tiwari</h3>
        </div>
        <div class="team-info">
            <img src="/images/1_rohan.jpg" alt="Rohan Sharma">
            <h3>Rohan Sharma</h3>
        </div>
        <div class="team-info">
            <img src="/images/4_vishal.jpg" alt="Vishal Pandey">
            <h3>Vishal Pandey</h3>
        </div>
    </div>


    <footer class="footer">
        <div class="footer-left">
            <img src="/images/download.png" alt="logo">
            <p style="font-weight: bold;">Connect us on our Social Media Platform</p>
            <div class="socials">
                <a href="#"><i><img src="/images/facebook-logo-0.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/Instagram-Logo.wine.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/twitter-x-logo-png-9.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/github.png" alt="" height="25px" ;></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>products</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">joomla templates</a></li>
                    <li><a href="#">html templates</a></li>
                </ul>
            </li>
            <li class="Features">
                <h2>Useful Links</h2>
                <ul class="box">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">pricing</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Tickets</a></li>
                    <li><a href="#">Certification</a></li>
                    <li><a href="#">Custom service</a></li>
                </ul>
            </li>

            <li>
                <h2>Address</h2>
                <ul class="box">
                    <li><a href="#">sector-110 , Noida</a></li>
                    <li><a href="#">Maharishi University</a></li>
                    <li><a href="#">Gautam Buddha Nagar</a></li>
                    <li><a href="#">UP , INDIA</a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All Rights reserved by &copy;Being 2024</p>
        </div>

    </footer>
    <!-- End Footer -->



</body>

</html>