<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Being</title>
    <link rel="stylesheet" href="TM.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/download.png" alt="Image Description">
            <h1>Being</h1>
        </div>
        <nav>
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/breathing">BREATHING</a>
            <a href="#">MEMBERSHIP</a>
        </nav>
    </header>
    <main>
        <article>
            <div class="content">
                <h3>Mantra and Transcendental Meditation explained by Maharishi</h3>
                <p>Maharishi explains everything about the Transcendental Meditation mantra, including why it is
                    important to have a meaningless sound.</p>
            </div>
            <div class="video-container">
                <iframe width="700" height="394" src="https://www.youtube.com/embed/y7ajEzVsuhg?si=Fhp4-ThXSOgJEAdt"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </article>

        <!-- Video Section -->
        <h2>Introduction</h2>
        <section class="video-section">
            <div class="video-wrapper">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/utpqeiSYRUw?si=eWY3Frz15Y_J-TZD"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>What is the Transcendental Meditation technique (TM)?</p>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fO3AnD2QbIg?si=0pZrMRFrYExWKdUT"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Transcendental Meditation Technique - A Complete Introduction</p>
                </div>
                <div class="video">
                    <iframe width="350" height="197" src="https://www.youtube.com/embed/ZuoMXHhyMMs?si=Pya2vSjP0fRQmCoy"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Meditation Techniques: Transcendental Meditation Introduction</p>
                </div>
            </div>
        </section>
        <h2>Benefits</h2>
        <section class="video-section">
            <div class="video-wrapper">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/58Td6uJGatE?si=5_dep03YxcOOoa4r"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Bill Hader Discusses Experiences and the Power of TM
                    </p>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/utmo3k-mMm8?si=hjhAvcavtr1AjewN"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Clint Eastwood on the benefits the TM technique has had on his life</p>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uh7Yru3cHoA?si=OETX2bPrwcsPCjW-"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Jerry Seinfeld talks Transcendental Meditation at David Lynch</p>
                </div>
            </div>
            <section>
                <div class="video-container2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/P4DGa0cNw-0?si=WPI7mzfwFrMB92Lq"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="content2">
                    <h3>Joe Rogan | Is Transcendental Meditation a Cult? w/Tom Papa</h3>
                    <p>Joe Rogan and guest Tom Papa delved into the intriguing topic of Transcendental Meditation (TM)
                        and
                        its potential association with cult-like behaviors. With their characteristic blend of curiosity
                        and
                        skepticism, they explored the nuances of TM's practices, discussing its origins, techniques, and
                        societal perceptions</p>
                </div>
            </section>
        </section>
        <h2>How To Get Started</h2>
        <section class="video-section">
            <div class="video-wrapper">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/f66eq7Lpm5Y?si=NyVt4jT9EOrBpgNL"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Maharishi Mahesh Yogi on the Mechanics of the Technique</p>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MeCHfgq2Vp8?si=6KS2XLCi7y_Ui20-"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Maharishi Mahesh Yogi: How To Get Started on TM</p>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nogh434ykF0?si=WfaWb7tI6_3SjFFu"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Mindset of Successful Programmers</p>
                </div>
            </div>
        </section>


    </main>
    <footer>
        <p>&copy; Being 2024</p>
    </footer>
</body>

</html>