<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="yoga.css">

    <title>Yoga</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="/images/1_main_being_logo.png" alt="logo" height="25px"></div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <h1 style="font-size: 52px;">21 Yoga Poses for Beginners....</h1>
    <h2 style="font-size: 35px;">Start your practice with these basic poses</h2>
    <div class="header">
        <p>As a new yoga student, you might feel overwhelmed by the number of poses and their odd-sounding names. But
            yoga doesn't have to be complicated. If you got out of bed this morning and stretched your arms over your
            head, you already did a yoga pose. And remember that your yoga practice is a lifelong pursuit—giving you
            plenty of time to learn scores of postures.</p>
        <p>Many basic yoga postures feel very familiar because our bodies bend and fold naturally into poses. Mindfully
            and with conscious breaths, learn beginner yoga poses first. It's a good idea to keep things simple when
            you're just starting. The yoga poses for beginners that are outlined here are valuable enough to keep you
            occupied for a long time. Then, as you build your practice, you can take on more challenging poses.</p>
        <p>Keep in mind that you don't have to learn all 31 poses listed below. They are just options for you to choose
            from and can be learned at your desire and leisure without any pressure to perfect them. Keep reading for
            more on each pose.</p>
    </div>
    <section>
        <p style="font-size: 29px;">Types of Poses</p>
        <p style="font-size: 18px;">Yoga has various pose types based on how you move your body to complete them. Here
            are the basic types of yoga poses.</p>
    </section>
    <div class="container99">
        <ul>
            <li><b>Standing poses:</b> Standing poses are often done first in a yoga class to "build heat" and warm you
                up. In vinyasa/flow style yoga, standing poses are strung together to form long sequences. In Hatha
                classes, you may do the standing poses individually with rest between each pose.</li>
            <li><b>Balancing poses:</b> Beginners' balances are an important way to build the core strength necessary
                for many of yoga's more advanced postures. Though balances may seem difficult at first, you will find
                that you can improve markedly with regular practice.</li>
            <li><b>Backbends:</b> As a beginner, you will generally begin with gentle spine flexion and extension,
                eventually moving to deeper bends. Since you rarely move like this in daily life, backbends are
                essential for spinal health and longevity.</li>
            <li><b>Seated poses:</b> Seated stretches, which often focus on stretching the hips and hamstrings, are
                usually done toward the end of a yoga class after the body is warm. Placing a folded yoga blanket or a
                block under your seat is an excellent way to make yourself more comfortable in these postures.</li>
            <li><b>Resting or supine poses:</b> It's essential to get to know your resting poses, especially child's
                pose, which you are encouraged to do whenever you need a break during a yoga session. These resting
                poses continue the hip and hamstring work of the seated poses and provide gentle back-bending, twisting,
                and inversion.</li>
        </ul>
        <!-- 1 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">1.</span>Downward Facing Dog (Adho Mukha
            Svanasana)</p>
        <div class="container-img"><img src="/images/yoga/1_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Downward Facing Dog goes hand in hand with yoga, but just because you've heard of this
            pose doesn't mean it's easy to do.Beginners often lean too far forward in this posture, making it more like
            a plank. Instead, remember to keep your weight mostly in your legs and reach your hips high, with your heels
            stretching toward the floor (they do not need to touch the floor).Bend your knees a little to facilitate the
            move if you have tight hamstrings. Keep feet parallel.</p>
        <!-- 2 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">2.</span>Mountain Pose (Tadasana)</p>
        <div class="container-img"><img src="/images/yoga/2_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Mountain pose may not be as famous as Downward Facing Dog, but it is equally important.
            This is an excellent time to talk about alignment, which is how your body parts are ideally arranged in each
            pose.The alignment in Mountain pose draws a straight line from the crown of your head to your heels, with
            the shoulders and pelvis stacked along the line. Every person's body is different, so focus on rooting down
            with your feet and lengthening up with your spine.A yoga teacher can talk you through this in class,
            reminding you to slide your shoulders down your back and keep weight on your heels.</p>
        <!-- 3 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">3.</span>Warrior I (Virabhadrasana I)</p>
        <div class="container-img"><img src="/images/yoga/3_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">The critical thing to remember in Warrior I is that the hips face forward. Think of your
            hip points as headlights—they should be roughly parallel with the front of your mat. This may require you to
            take a wider stance.</p>
        <!-- 4 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">4.</span>Warrior II (Virabhadrasana II)</p>
        <div class="container-img"><video src="/images/yoga/4_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Unlike Warrior I, in Warrior II, the hips face the side of the mat. The hips and shoulders
            open to the side when moving from Warrior I to Warrior II.You'll also rotate your back foot, angling your
            toes at about 45 degrees. In both Warrior poses, aim to keep your front knee stacked over the ankle. Your
            front toes face forward.</p>
        <!-- 5 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">5.</span>Extended Side Angle (Utthita
            Parvakonasana)</p>
        <div class="container-img"><video src="/images/yoga/5_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">One modification of Extended Side Angle Pose is to bring your forearm to your thigh
            instead of placing your hand on the floor. It should rest lightly on your thigh and not bear much weight.
            This modification enables you to keep your shoulders open. You can also place your hand on a yoga block.If
            you reach toward the floor before you're ready, you may compromise the position of the torso, turning your
            chest toward the floor instead of toward the ceiling.</p>
        <!-- 6 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">6.</span>Triangle Pose (Utthita Trikonasana)
        </p>
        <div class="container-img"><video src="/images/yoga/6_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">The Triangle can be modified like Extended Side Angle, using a yoga block for your bottom
            hand if you aren't comfortable reaching your arm to the floor. You can also rest your hand higher up on your
            leg—on your shin or thigh—but avoid putting it directly on your knee.Don't hesitate to micro-bend both knees
            if the pose feels uncomfortable. This won't look or feel like a pronounced bend, but rather, just enough of
            a movement to unlock your knees and ease tension in your hamstrings.Triangle offers many benefits: Strength
            (in the legs), flexibility (in the groin, hamstrings, and hips, as well as opening the chest and shoulders),
            and balance.</p>
        <!-- 7 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">7.</span>Standing Forward Bend (Uttanasana)</p>
        <div class="container-img"><video src="/images/yoga/7_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">To do Standing Forward, Bend, exhale, and fold over your legs. If the hamstrings feel a
            little tight at first, bend the knees so that you can release your spine. Let the head hang heavy.Keep the
            legs gently bent with feet hip-width apart for better stability (you can straighten the legs, but it is
            unnecessary). You can clasp opposite elbows with opposite hands while swaying gently from side to side.</p>
        <!-- 8 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">8.</span>Reverse Warrior (Viparita
            Virabhadrasana)</p>
        <div class="container-img"><video src="/images/yoga/8_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Reverse Warrior shares a similar stance to Warrior I and incorporates a slight
            heart-opening side bend or optional backbend.To stay steady in the posture, it's essential to root into the
            sole of the front foot, anchor the outside edge of the back foot, and engage the glutes and hamstrings.Focus
            your gaze up toward the palm as it reaches overhead. Keep your front knee tracking over your ankle as you
            sink deeper into the hips.</p>
        <!-- 9 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">9.</span>Garland Pose (Malasana)</p>
        <div class="container-img"><video src="/images/yoga/9_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Squatting isn't something familiar to most 21st-century humans. However, it's an excellent
            stretch for the muscles around the pelvis, making it what is often called a "hip opener" in yoga.Perhaps
            surprisingly, it's also good for your feet, which are often neglected. If squatting is difficult for you,
            props can help: Try sitting on a block or rolling a towel or blanket under the heels. Keep pressing your
            heels down toward the floor.</p>
        <!-- 10 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">10.</span>Half Forward Bend (Ardha Uttanasana)
        </p>
        <div class="container-img"><img src="/images/yoga/10_yoga_.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">This flat-back forward bend (you may also hear it called "halfway lift") is most often
            done as part of the sun salutation sequence. As such, it's often rushed, but it's worth it to take the time
            to work on it independently. Figuring out when your back is flat is part of developing body awareness.At
            first, it's helpful to glance in the mirror. You may find you need to let your hands come off the ground and
            onto your legs as high as is necessary to keep the back flat. Gently bend your knees as needed, too.</p>
        <!-- 11 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">11.</span>Pyramid Pose (Parsvottanasana)</p>
        <div class="container-img"><video src="/images/yoga/11_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Standing forward bends like Pyramid pose are an ideal time to break out your yoga blocks
            to make the pose more accessible. Place a block on either side of your front foot to "raise the floor" to a
            level your hands can comfortably reach. Your hamstrings will still enjoy a nice stretch, and they'll thank
            you for your consideration.</p>
        <!-- 12 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">12.</span>Raised Hands Pose (Urdhva Hastasana)
        </p>
        <div class="container-img"><video src="/images/yoga/12_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">Built upon the foundation of Mountain pose, Urdhva Hastasana requires you to continue to
            root into the ground with your legs while reaching for the sky with your arms. The result is a full body
            stretch, a great way to usher in the physical part of your yoga session.</p>
        <!-- 13 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">13.</span>Low Lunge</p>
        <div class="container-img"><video src="/images/yoga/13_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing</p>
        <p class="about-pose">The alignment of your lunge is super important. Try to make a right angle with your front
            leg so that your knee is directly over your ankle and your thigh is parallel to the floor. At the same time,
            keep your hips level and energize your back leg.Many people don't go deep enough into the front leg and sag
            in the back leg. Glance in the mirror to make sure you're getting it right.To modify, place your hands on
            blocks and/or lower your back leg to the mat (with a blanket or towel as needed for cushioning).</p>
        <!-- 14 -->
        <p style="font-size: 25px;" class="heading"> <span class="count">14.</span>Tree Pose (Vrksasana)</p>
        <div class="container-img"><video src="/images/yoga/14_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing/Balancing</p>
        <p class="about-pose">Tree pose is an excellent introduction to balancing postures. If you feel yourself
            beginning to topple, you can step out of it easily. Try not to create a counterbalance by jutting your hip
            to the side of your standing leg.Focus your gaze on a spot on the floor, and try varying foot positions to
            see what works for you: Heel resting low on the ankle, on a block, or above or below the knee. </p>
        <!--15-->
        <p style="font-size: 25px;" class="heading"> <span class="count">15.</span>Downward Facing Dog Split</p>
        <div class="container-img"><video src="/images/yoga/15_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Standing/Balancing</p>
        <p class="about-pose">The introduction of appropriate balancing postures helps build core strength. In Down Dog
            Split, it's not about how high you can lift your leg. Instead, focus on rooting into the hands and keeping
            your weight distributed evenly in both hands.</p>
        <!--16-->
        <p style="font-size: 25px;" class="heading"> <span class="count">16.</span>Plank Pose</p>
        <div class="container-img"><img src="/images/yoga/16_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Balancing</p>
        <p class="about-pose">It might seem strange to call plank a balancing pose since the risk of falling over is
            pretty minimal, but it gets to the heart of what this pose is about—core strength.A strong core is essential
            for so many yoga poses, including standing balances and arm balances, and plank is an excellent way to work
            on your stability and stamina. Aim to keep your hips and spine in a neutral position.</p>
        <!--17-->
        <p style="font-size: 25px;" class="heading"> <span class="count">17.</span>Cat-Cow Stretch (Chakravakasana)</p>
        <div class="container-img"><video src="/images/yoga/17_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Backend</p>
        <p class="about-pose">It's the best of both worlds: spinal extension followed by spinal flexion. Moving back and
            forth awakens and warms the back, improves body awareness, and is a basic introduction to doing a vinyasa
            sequence by coordinating your movements to your breath.
            Cat-Cow may be the most important pose you learn when starting yoga, especially if you have back pain. Even
            if you never make it to more than a few yoga classes, continue doing this stretch on your own.</p>
        <!--18-->
        <p style="font-size: 25px;" class="heading"> <span class="count">18.</span>Bridge Pose (Setu Bandha
            Sarvangasana)</p>
        <div class="container-img"><video src="/images/yoga/18_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Backend</p>
        <p class="about-pose">Bridge pose is a gentle way to explore spine extension, also known as a backbend. It's a
            good idea to start incorporating this type of movement because it improves the mobility of your spine and
            counters the effects of too much sitting.If Bridge seems too intense, try a ​supported bridge with a block.
            Remember to root into the feet, which helps you use your leg muscles to support the pose.</p>
        <!--19-->
        <p style="font-size: 25px;" class="heading"> <span class="count">19.</span>Cobra Pose (Bhujangasana)</p>
        <div class="container-img"><img src="/images/yoga/19_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Backend</p>
        <p class="about-pose">In flow yoga, Cobra is done multiple times per class as part of the vinyasa sequence of
            poses. While a full cobra with straight arms offers a deeper backbend, you'll build more back strength by
            doing low Cobras in which you lift your chest without pressing into your hands.Root into your feet, lengthen
            through the crown of the head, and broaden through the collarbones as you lift the sternum. It's also key to
            anchor your pelvis to the floor before you lift. </p>
        <!--20-->
        <p style="font-size: 25px;" class="heading"> <span class="count">20.</span>Knees, Chest, and Chin (Ashtanga
            Namaskara)</p>
        <div class="container-img"><video src="/images/yoga/20_yoga_video.mp4" controls loop></video></div>
        <p class="pose-type">Pose type : Backend</p>
        <p class="about-pose">Ashtanga Namaskara was once taught to all beginning yoga students as an alternative to and
            preparation for Chaturanga Dandasana. In recent years, it's fallen out of favor.As a result, some students
            are rushed into chaturanga before they are ready. It belongs in the sun salutation series for beginners.
            Plus, it's an excellent warm-up for deeper backbends.Take your time and enter the pose slowly from a plank
            position. Start by lowering your knees to the yoga mat, with toes tucked under.Then keep your elbows pressed
            toward your body as you lower your chest and chin to the floor. Shoulders should hover over your hands.</p>
        <!--21-->
        <p style="font-size: 25px;" class="heading"> <span class="count">21.</span>Staff Pose (Dandasana)</p>
        <div class="container-img"><img src="/images/yoga/21_yoga.webp" alt="photo"></div>
        <p class="pose-type">Pose type : Seated</p>
        <p class="about-pose">Staff pose is akin to a seated version of mountain pose (above) in that it offers
            alignment guidelines for various other seated poses. Engage the leg muscles and flex the feet.Lift the chest
            and relax the shoulders. You can also allow a gentle bend in the knees, which can create ease for the
            shoulders to stack over the hips.Modify by using a block or a folded blanket or two if you have trouble
            sitting straight with your butt flat on the floor. In a typical yoga practice, this pose leads to a forward
            bend.</p>
    </div>


    <!-- footer -->
    <footer class="footer">
        <div class="footer-left">
            <img src="/images/download.png" alt="logo">
            <p style="font-weight: bold;">Connect us on our Social Media Platform</p>
            <div class="socials">
                <a href="#"><i><img src="/images/facebook-logo-0.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/Instagram-Logo.wine.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/twitter-x-logo-png-9.png" alt="" height="25px" ;></i></a>
                <a href="#"><i><img src="/images/github.png" alt="" height="25px" ;></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>products</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">joomla templates</a></li>
                    <li><a href="#">html templates</a></li>
                </ul>
            </li>
            <li class="Features">
                <h2>Useful Links</h2>
                <ul class="box">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">pricing</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Tickets</a></li>
                    <li><a href="#">Certification</a></li>
                    <li><a href="#">Custom service</a></li>
                </ul>
            </li>

            <li>
                <h2>Address</h2>
                <ul class="box">
                    <li><a href="#">sector-110 , Noida</a></li>
                    <li><a href="#">Maharishi University</a></li>
                    <li><a href="#">Gautam Buddha Nagar</a></li>
                    <li><a href="#">UP , INDIA</a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All Rights reserved by &copy;Being 2024</p>
        </div>

    </footer>
    <!-- End Footer -->
</body>