body {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', sans-serif;
}

header {
    background-color: transparent;
    padding: 20px 0;
    font-family: 'Abhaya Libre', sans-serif;
}

.container {
    height: 533px;
    margin: 0px auto;
    width: 80%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.container1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2,
.container3,
.container4,
.container5 {
    display: none; /* Initially hide all other containers */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo-text {
    font-size: 50px;
    margin-left: 10px;
    font-style: bold;
}

nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
    font-style: bold;
}

nav ul li {
    display: inline;
    margin: 0 50px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 20px;
    transition: all 0.7s ease; /* Added for smooth transition */
}

nav ul li a:hover {
    background-color: #0575f6;
    color: #fff;
}

.login-signup a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px; /* Changed font size to match the navigation */
    transition: all 0.3s ease; /* Added for smooth transition */
}

.login-signup a:hover {
    background-color: #0575f6;
    color: #fff;
    transform: scale(1.1); /* Scale the element on hover */
}

.tm-section {
    padding: 180px 30px; /* Add padding inside the border */
    background-color: #0077ff65; /* Change the background color */
    border-radius: 20px; /* Add border-radius for rounded corners */
    text-align: left; /* Center align text */
    position: relative; /* Add relative positioning */
    z-index: 1; /* Ensure the tm-section is above other elements */
}

.about-tm,
.about-yoga,
.about-games,
.about-sub {
    padding: 140px 0px; /* Add padding inside the border */
    background-color: #f60505e0; /* Change the background color */
    border-radius: 20px; /* Add border-radius for rounded corners */
    text-align: left;
    position: absolute; /* Add absolute positioning */
    top: 145px; /* Position from the top */
    left: 153px; /* Position from the left */
    width: 80%; /* Occupy full width */
    z-index: 0; /* Ensure the about sections are behind other elements */
}

/* Taskbar styles */
.taskbar {
    position: fixed;
    top: 34%;
    right: 50px;
    background-color: #12508e7e;
    border-radius: 20px;
}

.taskbar ul {
    padding: 50px 20px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    justify-content: flex-end; /* Changed from right to flex-end */
    align-items: center;
}

.circle-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #05f6e2;
    clip-path: circle(50% at 0 50%);
    z-index: -3;
}

.circle-left2 {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: #82f605;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
}

.circle-left3 {
    position: fixed;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: #f68205;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
}

.circle-left4 {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100vh;
    background-color: #f60505;
    clip-path: circle(50% at 0 50%);
    z-index: -1;
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.taskbar img:hover {
    transform: scale(1.5);
    animation: enlarge 0.5s ease;
}
